bin/
obj/
*.suo
*.userprefs
*.pidb
test-results/
TestResult.xml
*.VisualState.xml
obj
bin
bin/*
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
~$*
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Common/Libraries/
*.ReSharper
*.user
UpgradeLog*.[Xx][Mm][Ll]
_UpgradeReport_Files/
*.*sdf
*.ipch
MetaProject.NugetCracker

Nuget/src/VsConsole/PowerShellHost/DebugConstants.cs